*{
    margin: 0%;
    padding: 0%; 
    box-sizing: border-box;
    
}

  @import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@400;500;600&display=swap');


footer {
    background-color: rgb(40, 34, 78);
    
}
.border-grey{
    border: 100px solid rgb(40, 34, 78);
    margin: 10px;
    text-align: center;
    margin-left: 60px;  
    border-radius: 0px;
    width: 1200px;
    height: 150px;
    position: relative;
}


.card-footer a {
    color: rgb(83, 83, 83);
    text-decoration: none;
    
}
.card-footer a:hover {
    color: rgb(0, 0, 0);

}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 10px;
    align-items: center;
    justify-items: center;

}
.card {
    width: 350px;
    padding: 0;
    text-align: center;
    margin: 5%;
    border-radius: 0;
    background-color: rgb(140, 150, 182);
    
}
h1{
    font-family: 'wrestling';
    color: rgb(255, 255, 255);
    font-size: 20;
    text-align: center; 
}
h4{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
}
p{
    font-family: 'wrestling';
    color: rgb(158, 158, 158);
    font-size: 25;
}
.card-body p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    font-weight: 100;
}
.card-body h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 90;
    text-align: center; 
}
.card-body h4{
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.dashb .jobs{
    margin-left: 670px;
    margin-top: -400px;
}

.dashb h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin-right: 600px;


}

.dashb h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-right: 300px;
    margin-top: 0px;

}

.dashb p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    font-style: italic;
    justify-content: space-around;
    margin-right: 700px;
    margin-left: 90px;
    margin-top: 100px
    
}

.orange{
    width: 20;
    position: fixed;
}

nav .navbar-brand{
    font-family: ghibo;
    color: #ffffff;
}
