*{
    margin: 0%;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    box-sizing: border-box;
    
}
footer{
    background: #000;
}
.container-fluid {
    height: 2%;
    display: flex;
    align-items: center; 
    top: 0;
    width: auto;
    justify-content: space-between;
    padding: 15px;
    color: #e9e7e7;
    background-color: rgb(255, 255, 255);
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    grid-gap: 10px;
    align-items: center;
    justify-items: center;

}
nav .navbar-brand{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: #747474;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    margin-left: auto
}
.navbar-nav {
    margin-left: auto;
    display: flex;
}

.card {
    width: 400;
    padding: 0;
    text-align: center;
    margin: 5%;
    background-color: rgb(255, 255, 255);
    
}
h1{
    color: rgb(255, 255, 255);
    font-size: 50;
    text-align: center; 
}
h4{
    color: rgb(0, 0, 0);
    font-size: 50;
    text-align: center;
}
p{
    color: rgb(158, 158, 158);
    font-size: 25;
    line-height: 15px;
    text-align: center;
}

.orange{
    width: 20;
    position: fixed;
}
.bg{
    background-color: rgb(0, 0, 0);
    width: 100%;
}


