*{
    margin: 0%;
    padding: 0%; 
    box-sizing: border-box;
    
}

  @import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@400;500;600&display=swap');


footer {
    background-color: rgb(40, 34, 78);
    
}

.card-footer a {
    color: rgb(83, 83, 83);
    text-decoration: none;
    
}
.card-footer a:hover {
    color: rgb(0, 0, 0);

}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    grid-gap: 10px;
    align-items: center;
    justify-items: center;

}

.card {
    width: 400;
    padding: 0;
    text-align: center;
    margin: 5%;
    background-color: rgb(255, 255, 255);
    
}
.card-body p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    font-weight: 100;
}
.card-body h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 90;
    text-align: center; 
}
.card-body h4{
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.dashb h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 90;
    text-align: center; 
}

.dashb p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    font-weight: 100;
}

.orange{
    width: 20;
    position: fixed;
}

nav .navbar-brand{
    font-family: ghibo;
    color: #ffffff;
}
