.container {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.row {
    width: 100%;
    display: flex;
    justify-content: center;
}
ul {
    list-style: none;
}
.footer {
    width: 100%;
    height: 10vh;
    background-color: #24262b;
    /* padding: 70px 0; */
}
.footer-col {
    width: auto;
    padding: 0 15px;
}

.footer-col p {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    ;
}