@font-face {
    font-family: 'wrestle';
    src: url(fonts/wrestling.ttf);
    font-style: normal;
    font-weight: 200;
}

.navbar {
    padding: 10px;
    width: 100vw;
    background-color: black;
}
.container-fluid {
    display: flex;
    align-items: center; 
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: #f2f2f2;
}

nav .navbar-brand{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: #747474;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav ul {
    margin: 0;
}
.navbar-nav ul li{
    display: inline-block;
    
}

.navbar-nav ul li a{
    font-family: wrestle;
    font-size: 18px;
    color: white;
    font-weight: 200;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(255, 255, 255);
}

.navbar-nav a:hover{
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    color:  #747474;
}

.indicator {
    padding: 1px 10px;
    border-radius: 10px;
    background: #747474;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
