

.navbar {
    padding: 10px;
    width: 100vw;
    background-color: black;
}
.container-fluid {
    display: flex;
    align-items: center; 
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: #f2f2f2;
}
.navbar-toggler-icon {
     color: white;
}
nav .navbar-brand {
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav ul {
    margin: 0;
}
.navbar-nav ul li{
    display: inline-flex;
}

.navbar-nav ul li a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 200;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(255, 255, 255);
}

.navbar-nav a:hover{
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    color:  rgb(40, 34, 78);
}

.indicator {
    padding: 1px 10px;
    border-radius: 10px;
    background: rgb(40, 34, 78);;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media (max-width: 600px) {
    .navbar-nav ul li {
        display: block;
        text-align: center;
        margin-left: -1%;
        margin-right: 9%;
    }
}

@media (min-width: 601px) and (max-width: 992px) {
    .navbar-nav ul li {
        display: block;
        text-align: center;
        margin-left: 3%;
        margin-right: 10%;
    }
}

@media (min-width: 993px) {

}
