*{
    margin: 0%;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}


.container-fluid {
    height: 2%;
    display: flex;
    align-items: center; 
    top: 0;
    width: auto;
    justify-content: space-between;
    padding: 15px;
    color: #f2f2f2;
    background-color: rgb(255, 255, 255);
}

.navbar-nav {
    margin-left: auto;
    display: flex;
}

.card {
    display: block;
    margin-left: 4%;
    margin-right: auto;
    width: 90%;
    margin-top: 3%;
    position: static;
}
.card-body h2 {
    font-size: 40px;
}
.card-body h4 {
    font-size: 22px;
    margin-top: -1%;
}
.card-body h6 {
    align-items: center;
    margin-right: auto;
    
}




